# standard ignores
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ignore src
src/**/*

# Editor directories and files
.parcel-cache/
.github/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*-lock*
tsconfig.json